@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    min-height: 100vh;
    height: 100%;
    width: 100%;
  }

  body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    scrollbar-color: #60a5fa #f1f5f9;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f5f9;
  }

  .textarea {
    border-color: transparent;
    padding: 0;
    resize: none;
  }

  .textarea:active,
  .textarea:focus {
    outline: none;
  }

  .textarea::placeholder,
  input::placeholder {
    color: #c7c7c7;
    font-weight: 100;
  }

  input:focus {
    outline: none;
  }

  main .loginSection {
    height: 100vh;
  }
}
